<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Snapshots Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="/scripts/jquery-min.js"></script>
    <script src="/scripts/jquery-ui.min.js"></script>
    <link href="./styles/jquery-ui.css" rel="stylesheet"/>
    <link href="/styles/bootstrap.min.css" rel="stylesheet"/>
    <script src="/scripts/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet"/>
    <link href="/styles/snapshots.css" rel="stylesheet"/>
</head>
<body>

<form id="frmApp" role="form" name="f" th:action="@{/login}" method="post">

    <div class="form-group">

        <div th:if="${param.error}" class="alert alert-error">
            Invalid username and/or password.
        </div>
        <div th:if="${param.logout}" class="alert alert-success">
            You have been logged out.
        </div>

        <div id="userNameContainer" class="input-group input-group-lg">
            <label for="username" class="sr-only">User Name</label>
            <span class="input-group-addon" id="basic-addon">User Name</span>
            <input type="text" name="username" id="username"
                   placeholder="Enter your user name"
                   class="form-control"/>
        </div>
        <div id="passwordContainer" class="input-group input-group-lg">
            <label for="password" class="sr-only">User Name</label>
            <span class="input-group-addon" id="basic-addon2">Password</span>
            <input type="password" name="password" id="password"
                   placeholder="Enter your password"
                   class="form-control"/>
        </div>
        <div class="btnContainer text-center">
            <button type="submit" class="btn btn-lg btn-primary btn-block" value="Log In" id="submitButton">Log In
            </button>
        </div>
    </div>
</form>
</body>
</html>